@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Oswald');
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	background-color: #f2f2f2;
	margin: 0;
	padding-top: 0;
	font-family: 'Oswald', sans-serif;
}
#header {
	display: block;
	margin: 0px;
	padding: 0px;
	background-color: #000;
	height: 75px;
	width: 100%;
}
#logo {
	display: block;
	margin: auto;
	width: 150px;
	height: 50px;
	background: #fff;
	text-align: center;
}
#logotext {
	padding: 1em 0px;
	margin-top: 25px;
}
#logo:hover {
	color: #fff;
	background-color: #ff5050;
}
nav {
	background-color: #000;
	text-align:center;
	padding-bottom: 30px;
}
nav a {
	text-decoration: none;
	color: #000;
	background-color: #fff;
	padding: 0.8em 20px;
	margin: 10px;
}
nav a:hover {
	color: #fff;
	background-color: #ff5050;
}
#subhead {
	display: block;
	font-family: 'Amatic SC', sans-serif;
	font-size: 72px;
	text-align: center;
	color: #ff5050;
	margin-top: 40px;
	margin-bottom: 40px;
}
#intro {
	display: block;
	width: 60%;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-align: center;
	color: #ff5050;
	padding-bottom: 80px;
}
#imagesection {
	background-color: #ff5050;
	margin: 0 auto;
	color:#fff;
}
#waterfallsection {
	height: auto;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear:both;
	height:0;
}
#waterfalldesccontainer {
	float: left;
	width: 50%;
}
#waterfalldesc {
	padding: 30px 20px 0px 0px;
	text-align: right;
	max-width: 80%;
	float: right;
}
#waterfallcontainer {
	float:left;
	width: 50%;
	height: auto;
}
#waterfall {
	width: 100%;
}
#mountainsection {
	height: auto;
	background: #f2410a;
}
#mountaindesccontainer {
	float: left;
	width: 50%;
}
#mountaindesc {
	padding: 30px 0px 0px 20px;
	text-align: left;
	max-width: 80%;
	float: left;
}
#mountaincontainer {
	float:left;
	width: 50%;
	height: auto;
}
#mountain {
	width: 100%;
}
