@import url('https://fonts.googleapis.com/css?family=Raleway|Josefin+Sans');
* {
	margin: 0px;
}
body {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #3B49A8;
	background: #fff	;
}
header {
	background: #4D73BF;
	height: 100px;
	margin: 0px;
}
h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 72px;
	padding-top: 20px;
}
ul {
	list-style-type: none;
}
footer {
	background: #4D73BF;
	color: #fff;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#headlineimage {
	background: #fff;
	padding-bottom: 30px;
}
.subhead {
	font-weight: 900;
}
#slogan {
	font-weight: bold;
	font-size: 24px;
	margin: 10px;
}
#logo {
	position: absolute;
	left: 20px;
	top: 25px;
	width: 150px;
	height: 50px;
	border: 0px solid #0027B2;
}
#image {
	display: inline-block;
	background: #fff;
	width: 500px;
	height: 100%;
	border: 0px solid #0027B2;
	vertical-align:middle;
}
.link {
	text-decoration: none;
	color: #fff;
}