@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Roboto');
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	background-color: #000000;
	margin: 0;
	padding-top: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
#header {
	display: block;
	margin: 0;
	padding: 0;
	background-color: #000;
	height: auto;
	width: 100%;
}
#logo {
	display: block;
	margin: auto;
	width: 250px;
	height: 250px;
	background-image: url("images/blueys.png");
}
#logo img {
	width: 100%;
}
#logo img:hover {
	opacity: 0;
}
nav {
	display: block;
	background-color: #000;
	text-align:center;
	margin: 2em 0 0 0; 
	padding-bottom: 0em;
}
nav a {
	text-decoration: none;
	color: #000;
	background-color: #fff;
	padding: 0.8em 1.5em;
	margin: 0.75em;
}
nav a:hover {
	color: #fff;
	background-color: #550C0A;
}
#subhead {
	display: block;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 4em;
	text-align: center;
	color: #ffffff;
	margin-top: 2em;
	margin-bottom: 1em;
}
#intro {
	display: block;
	width: 80%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	line-height: 2em;
	text-align: center;
	color: #ffffff;
	padding-bottom: 3em;
}
#kielys {
	display: block;
	margin: auto;
	width: 300px;
	padding-bottom: 5em;
}
#kielys img {
	width: 75px;
}
#imagesection {
	background-color: #EED7D6;
	margin: 0 auto;
	color:#000000;
	line-height: 1.5em;
}
#textrightsection {
	height: auto;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear:both;
	height:0;
}
#textrightdesccontainer {
	float: left;
	width: 50%;
}
#textrightdesccontainer p {
	padding: 2em 1.5em 0px 0px;
	text-align: right;
	max-width: 80%;
	float: right;
}
#textrightcontainer {
	float:left;
	width: 50%;
	height: auto;
}
#textrightcontainer img {
	width: 100%;
}
#textleftmobile div {
	display: none;
}
#textleftsection {
	height: auto;
}
#textleftdesccontainer {
	float: left;
	width: 50%;
}
#textleftdesccontainer p {
	padding: 2em 0px 0px 1.5em;
	text-align: left;
	max-width: 80%;
	float: left;
}
#textleftcontainer {
	float:left;
	width: 50%;
	height: auto;
}
#textleftcontainer img {
	width: 100%;
}
#locations {
	font-weight: bold;
}
#disclaimers {
	color: #ffffff;
	text-align: center;
}
#disclaimers p {
	padding: 20px 40px;
}
#kielysdisc {
	display: block;
	margin: auto;
	width: 300px;
	padding: 1em 0 1em 0;
}
#kielysdisc img {
	width: 75px;
}
sup { 
    vertical-align: super;
    font-size: smaller;
}

@media only screen and (max-width: 496px) {
	nav {
		padding: 0.5em 0 1.5em;
		margin:0px;
	}
	nav a {
		float: none;
		display: block;	
	}
}
@media only screen and (max-width: 840px) {
	#textrightcontainer {
		float:none;
		width: 100%;
	}
	#textrightdesccontainer {
		float: none;
		width:100%;
		padding: 0px;
	}
	#textrightdesccontainer p {
		text-align: center;
		padding: 3em;
		margin: 0em;
		max-width:100%;
	}
	#textleftsection {
		display:none;
	}
	#textleftmobile div {
		display:block;
		float:none;
		width: 100%;
	}
	#textleftdesccontainer {
		float: left;
		width:100%;
		padding: 0px;
	}
	#textleftdesccontainer p {
		text-align: center;
		padding: 3em;
		margin: 0em;
		max-width:100%;
	}
}